<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BloodBank</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DonorReg</display-name>
    <servlet-name>DonorReg</servlet-name>
    <servlet-class>blood.com.model.DonorReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonorReg</servlet-name>
    <url-pattern>/DonorReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Labtest</display-name>
    <servlet-name>Labtest</servlet-name>
    <servlet-class>blood.com.model.Labtest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Labtest</servlet-name>
    <url-pattern>/Labtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockAdd</display-name>
    <servlet-name>StockAdd</servlet-name>
    <servlet-class>blood.com.model.StockAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockAdd</servlet-name>
    <url-pattern>/StockAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRequest</display-name>
    <servlet-name>PatientRequest</servlet-name>
    <servlet-class>blood.com.model.PatientRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRequest</servlet-name>
    <url-pattern>/PatientRequest</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/Error404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>blood.com.model.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
</web-app>